// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
  width: map-get($columns, $numberColumns) -
    (($columns__margin * ($numberColumns - 1)) / $numberColumns);
}

@mixin width-margin-set {
  max-width: 1550px;
  margin: 0 auto;
}

@mixin column-set-twelve {
  grid-template-columns: repeat(12, minmax(calc(8.33333% - 5px), 1fr));
  grid-template-rows: repeat(12, minmax(calc(8.33333% - 5px), 1fr));
}
