// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
  width: map-get($columns, $numberColumns) -
    (($columns__margin * ($numberColumns - 1)) / $numberColumns);
}

@mixin width-margin-set {
  max-width: 1550px;
  margin: 0 auto;
}

@mixin grid-set-twelve {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(12, minmax(calc(8.33333% - 5px), 1fr));
  grid-template-rows: repeat(12, minmax(calc(8.33333% - 5px), 1fr));
}

@mixin kormelink-italic {
  font-family: "KormelinkItalic";
  -webkit-font-feature-settings: "swsh";
  -moz-font-feature-settings: "swsh";
  font-feature-settings: "swsh";
  font-weight: 350;
}

@mixin kormelink-roman-mask {
  font-family: "KormelinkRoman";
  font-style: italic;
  font-weight: 350;
}

@mixin grid-for-centering {
  display: -ms-grid;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

@mixin grid-content-for-centering {
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: center;
  justify-self: center;
}
