header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 0px 189px;

  &:hover .hamburger-one {
    top: 85%;
    // transform: translateY(-100%) rotate(360deg);
    transform: translateY(-85%);
    left: 10.333%;
    border-radius: 10px;
  }
  &:hover .hamburger-two {
    top: 50%;
    transform: translateY(-50%);
    left: 33.333%;
    border-radius: 10px;
  }
  &:hover .hamburger-three {
    top: 15%;
    // transform: translateY(0%) rotate(-360deg);
    transform: translateY(-15%);
    left: 56.333%;
    border-radius: 10px;
  }
}

.site-nav-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.main-navigation {
  display: flex;
  align-items: center;
  position: relative;
}

.site-branding {
}

.header-shop-btn {
  margin-right: 112px;
}

.menu-toggle-btn {
  height: 25px;
  width: 86px;
  cursor: pointer;

  &:hover .hamburger-one {
    top: 100%;
    // transform: translateY(-100%) rotate(360deg);
    transform: translateY(-100%);
    left: 10.333%;
    border-radius: 10px;
  }
  &:hover .hamburger-two {
    top: 50%;
    transform: translateY(-50%);
    left: 33.333%;
    border-radius: 10px;
  }
  &:hover .hamburger-three {
    top: 0%;
    // transform: translateY(0%) rotate(-360deg);
    transform: translateY(0%);
    left: 56.333%;
    border-radius: 10px;
  }
}

.hamburger {
  background-color: $color__text-main;
  height: 2.5px;
  width: 33.333%;
  transition: all ease 500ms;
}

.hamburger-one {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.hamburger-two {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 33.333%;
}
.hamburger-three {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  left: 66.333%;
}
