header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 0px 75px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 999;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  &:hover .rotate-box {
    transform: rotateX(0deg) translateZ(5px);
  }

  // // ONE VERSION ONLY
  // &:hover .hamburger-one {
  //   top: 85%;
  //   // transform: translateY(-100%) rotate(360deg);
  //   transform: translateY(-85%);
  //   left: 10.333%;
  //   border-radius: 10px;
  // }
  // &:hover .hamburger-two {
  //   top: 50%;
  //   transform: translateY(-50%);
  //   left: 33.333%;
  //   border-radius: 10px;
  // }
  // &:hover .hamburger-three {
  //   top: 15%;
  //   // transform: translateY(0%) rotate(-360deg);
  //   transform: translateY(-15%);
  //   left: 56.333%;
  //   border-radius: 10px;
  // }
}

.site-nav-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.main-navigation {
  display: flex;
  align-items: center;
  position: relative;
}

.site-branding {
}

.menu-toggle-btn {
  height: 25px;
  width: 86px;
  cursor: pointer;

  .rotate-fluid-container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    font-weight: bolder;
    font-size: 60%;
    height: 50%;
    width: 50%;
  }

  .rotate-box {
    width: fit-content;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(-90deg) translateZ(5px);
    transform: rotateX(-90deg) translateZ(5px);
    transition: all ease-out 150ms;
    will-change: transform;
  }

  // &:hover .hamburger-one {
  //   top: 100%;
  //   // transform: translateY(-100%) rotate(360deg);
  //   transform: translateY(-100%);
  //   left: 10.333%;
  //   border-radius: 10px;
  // }
  // &:hover .hamburger-two {
  //   top: 50%;
  //   transform: translateY(-50%);
  //   left: 33.333%;
  //   border-radius: 10px;
  // }
  // &:hover .hamburger-three {
  //   top: 0%;
  //   // transform: translateY(0%) rotate(-360deg);
  //   transform: translateY(0%);
  //   left: 56.333%;
  //   border-radius: 10px;
  // }
}

.hamburger {
  background-color: $color__text-main;
  height: 2.5px;
  width: 33.333%;
  transition: all ease 500ms;
}

.hamburger-one {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.hamburger-two {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 33.333%;
}
.hamburger-three {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  left: 66.333%;
}
