// @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Kormelink";
  src: url("../../../font/WT_Kormelink_Roman_DESK_1.1.ttf") format("truetype");
}
@font-face {
  font-family: "KormelinkItalic";
  src: url("fonts/WT_Kormelink_Italic_1.1.ttf") format("truetype"),
    url("fonts/WT_Kormelink_Italic_1.1.otf") format("opentype");
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "MontserratItalic";
  src: url("fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
}
//
$font__main: "Montserrat", sans-serif;
$font__alt: "Kormelink";
$font__alt_italic: "KormelinkItalic";
// stylelint-enable value-keyword-case
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.5;

$letter_spacing: 1px;
